* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --bg-primary: #ffff;
  --primary-color: #312d64;
  --secondary-color: #b52184;
  --ff-family: "Mulish", sans-serif;
  --btn-color: #343193;
}

body * {
  font-family: var(--ff-family);
  color: var(--primary-color);
}

#section1 {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
}

#text1 {
  margin-top: 30rem;
  margin-left: 10rem;
}

h1 {
  color: var(--secondary-color);
}

.learning {
  padding-bottom: 20rem;
  font-size: 2.5rem;
}

#img1 {
  position: absolute;
  right: 0;
}

#section2 {
  margin-top: 15rem;
  padding: 5rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
}

.planet {
  background-color: var(--bg-primary);
  border-radius: 8px;
  padding: 3rem;
  font-size: 1.8rem;
}

.card-head {
  font-size: 3rem;
  margin: 1rem 0rem 1rem;
}

#section3 {
  margin-top: 5rem;
}

#wrap {
  display: flex;
}

h1 {
  margin: 2rem;
  font-size: 3.8rem;
  font-weight: bolder;
}

form {
  margin: 2rem;
}

input {
  border: none;
}

input,
button {
  width: 50rem;
}

.name-card {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.email-card {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.message {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 60rem;
  height: 20rem;
}

button {
  border: none;
  background-color: var(--btn-color);
  border-radius: 8px;
  margin-top: 3rem;
  width: 17rem;
  color: var(--bg-primary);
  padding: 1.3rem;
  transition: .1s;
}

button:hover {
  cursor: pointer;
  background-color: #2d295a;
}

#stars {
  padding-left: 7.7rem;
}

footer {
  background-color: var(--primary-color);
  color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 1.5rem;
}